/* Меню навигации */

.menu {
  background-color: $cl-white;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  text-align: left;

  + .menu {
    margin-top: 12px;
  }

  &__list {
    background-color: $cl-white;
    display: flex;
    flex-direction: column;

    &--row {
      flex-direction: row;
    }
  }

  &__header {
    color: $cl-blue-3;
    padding: 8px;
  }

  &__item {
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    display: flex;
    min-height: 35px;
    padding: 8px 16px;
    transition: background-color $transition-time;

    &--active {
      background-color: $cl-blue-3;
      color: $cl-white;
    }

    &:hover:not(.menu__item--active) {
      background-color: rgba($cl-blue-3, 0.87);
    }
  }
}
