/* Миксины */

// Центирования контента с максимальной шириной
@mixin max-center-content {
  margin: 0 auto;
  max-width: $max-content-width;
}

// Тень для карточки + эффект у hover'a
@mixin box-shadow-hover-card {
  background-color: $cl-grey-5;
  box-shadow: 0 1px 3px rgba($cl-black, 0.12), 0 1px 2px rgba($cl-black, 0.24);
  color: $cl-white;
  transition: all $transition-time ease-out;

  &:hover {
    box-shadow: 0 19px 38px rgba($cl-black, 0.3), 0 15px 12px rgba($cl-black, 0.22);
    transform: scale(1.01);
  }
}

// Адаптивность
@mixin adaptive($point) {
  // mobile breakpoint
  @if $point == $mobile-xl-name {
    @media screen and (max-width: $mobile-xl) {
      @content; }
  }

  @if $point == $mobile-sm-name {
    @media screen and (max-width: $mobile-sm) {
      @content; }
  }

  // tablet breakpoint
  @if $point == $tablet-sm-name {
    @media screen and (max-width: $tablet-sm) {
      @content; }
  }
}

// Классы для детальной информации о фильме/актере
@mixin details-view-classes {
  display: flex;

  @include adaptive($tablet-sm-name) {
    flex-direction: column;
  }

  &__header {
    color: $cl-white;
    margin-bottom: 12px;
    position: relative;
  }

  &__content {
    flex-grow: 1;
    margin-left: 36px;

    @include adaptive($tablet-sm-name) {
      margin-left: 0;
      margin-top: 12px;
    }
  }

  &__image-container {
    align-self: flex-start;
    max-width: 320px;
    min-width: 320px;
    position: relative;
    width: 100%;

    @include adaptive($tablet-sm-name) {
      margin: 0 auto;
    }

    @include adaptive($mobile-sm-name) {
      min-width: 100%;
    }
  }

  &__title {
    font-family: $main-font;
    font-size: 46px;
    margin-bottom: 8px;
  }

  &__info {
    $name: &; // Задаем переменной name имя класса
    padding: 8px 0;

    &-header {
      color: $cl-grey-4;
      flex-shrink: 0;
      margin-bottom: 12px;
    }

    &-text {
      color: $cl-white;
      line-height: 1.1;
      margin: 0;
    }

    // Модификатор для текста в строчку
    &--row {
      align-items: center;
      display: flex;

      // Используем переменную, чтобы установить значение для header'a в модификаторе
      #{$name}-header {
        margin-bottom: 0;
        margin-right: 12px;
      }
    }
  }
}
