/* ==[ МИКСИНЫ ]== */

// Центирования контента с максимальной шириной
@mixin max-center-content {
  margin: 0 auto;
  max-width: $max-content-width;
}

// Тень для карточки + эффект у hover'a
@mixin box-shadow-hover-card {
  background-color: $cl-grey-5;
  box-shadow: 0 1px 3px rgba($cl-black, 0.12), 0 1px 2px rgba($cl-black, 0.24);
  color: $cl-white;
  transition: all $transition-time ease-out;

  &:hover {
    box-shadow: 0 19px 38px rgba($cl-black, 0.3), 0 15px 12px rgba($cl-black, 0.22);
    transform: scale(1.01);
  }
}

// Адаптивность
@mixin adaptive($point) {
  @media screen and (max-width: map-get($breakpoints, $point)) {
    @content;
  }
}

// Классы для детальной информации о фильме/актере
@mixin details-view-classes {
  display: flex;

  @include adaptive(sm) {
    flex-direction: column;
  }

  &__header {
    color: $cl-white;
    margin-bottom: 12px;
  }

  &__content {
    flex-grow: 1;
    margin-left: 36px;

    @include adaptive(sm) {
      margin-left: 0;
      margin-top: 12px;
    }
  }

  &__image-container {
    align-self: flex-start;
    max-width: 320px;
    min-width: 320px;
    position: relative;
    width: 100%;

    @include adaptive(sm) {
      margin: 0 auto;
    }

    @include adaptive(xsm) {
      min-width: 100%;
    }
  }

  &__title {
    font-family: $main-font;
    font-size: 46px;
    margin-bottom: 8px;
  }

  &__info {
    display: flex;
    font-size: 16px;
    padding: 8px 0;
  }

  &__info-header {
    color: #a2a2a2;
    flex-basis: 15%;
    flex-shrink: 0;
    font-weight: 700;
    max-width: 15%;

    @include adaptive(lg) {
      flex-basis: 25%;
      max-width: 25%;
    }

    @include adaptive(xsm) {
      flex-basis: 35%;
      max-width: 35%;
    }
  }

  &__info-text {
    color: $cl-white;
    margin: 0;
  }
}
