@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Oswald&family=Roboto:wght@400;500;700&display=swap');

/* Переменные */

// цвета

// Красный
$cl-red-1: red;
// Синий
$cl-blue-1: #0f62fe;
$cl-blue-2: #2196f3;
$cl-blue-3: #115293;
// Оранженвый
$cl-orange-1: #ffad60;
$cl-orange-2: #f06249;
$cl-orange-3: #e69e18;

// Серый
$cl-grey-1: #343a40;
$cl-grey-2: #42474b;
$cl-grey-3: #fafafa;
$cl-grey-4: #a2a2a2;

// Стандартные цвета
$cl-white: #ffffff;
$cl-black: #000000;
$cl-green: #3bb33b;

$main-bg-color: $cl-white; // Главный фоновый цвет
$main-color: $cl-orange-1; // Главный цвет текста
$content-background: $cl-grey-3; // цвет фона у контента

// Размер
$max-content-width: 1400px;

// Шрифт
$main-font: 'Roboto', 'arial', sans-serif;
$secondary-font: 'Comfortaa', 'arial', sans-serif;

// Прозрачность
$menu-opacity: .125;
$button-opacity: .9;

$transition-time: .6s; // время переходов

// breakpoints
$mobile-xl: 600px;
$mobile-sm: 400px;

$tablet-sm: 700px;

// название точек для mixin'a adaptive
$mobile-xl-name: "mobile-xl";
$mobile-sm-name: "mobile-sm";
$tablet-sm-name: "tablet-sm";


/* Переменные для компонентов */

// меню
$menu-background-color: $cl-white;
$menu-text-color: $cl-orange-1;

// хедер
$header-background-color: $main-bg-color;

// форма авторизации
$input-background-color: $cl-orange-1;

// Ошибки
$error-background-color: $cl-red-1;

// Карточка с фильмом
$film-card-mheight: 265px;
$film-card-background: #1b1e2d;
$film-card-hover-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);

// Контейнер с фильмами
$films-container-max-width: 280px;
$films-container-min-width: 280px;
$films-container-column-gap: 30px;
$films-container-row-gap: 24px;
