/* Стили для стилизации компонента content - где отрисовывается вся информация */

.content {
  flex-grow: 1;

  &__header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $content-background;
    min-height: 59px;
  }

  &__search {
    margin-left: auto;
  }
}
