/* Кнопка для возвращения на пред. страницу */

@keyframes arrow-move {
  0% { transform: translateX(0);}
  50% { transform: translateX(-5px);}
  100% { transform: translateX(0);}
}

.back-history {
  align-items: center;
  background-color: $cl-grey-2;
  border: 0;
  border-radius: 20px;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;

  &:hover {
    .back-history__icon {
      animation: arrow-move 2s infinite;
    }
  }

  &__icon {
    color: $cl-white;
    font-size: 18px;
  }
}
