/* Кнопка для возвращения на пред. страницу */

@keyframes arrow-move {
  0% { transform: translateX(0)}
  50% { transform: translateX(-5px)}
  100% { transform: translateX(0)}
}

.back-history {
  background-color: $cl-grey-2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;

  &:hover {
    .back-history__icon {
      animation: arrow-move 2s infinite;
    }
  }

  &__icon {
    font-size: 18px;
    color: $cl-white;
  }
}
