/* Кнопки */

.button {
  background-color: $white-color;
  border: none;
  color: $main-color;
  font-weight: 700;
  padding: 8px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: .3s;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
    background-color: rgba($white-color, $button-opacity);
  }

  &--orange {
    background-color: $main-color;
    color: $white-color;

    &:focus,
    &:hover {
      background-color: rgba($main-color, $button-opacity);
    }
  }

  + .button {
    margin-left: 12px;
  }

  // loader у кнопки
  &--loading {

  }
}
