/* Кнопки */

.button {
  background-color: $cl-blue-1;
  border: none;
  color: $cl-white;
  font-weight: 400;
  padding: 13px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: .3s;
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;

  &:focus,
  &:hover {
    outline: none;
    background-color: #054ada;
  }

  &--ghost {
    background-color: transparent;
    color: $cl-blue-1;

    &:hover,
    &:active, {
      background-color: #ECF2FF;
    }

    &:focus {
      background-color: $cl-white;
      border: 2px solid $cl-blue-1;
    }
  }

  + .button {
    margin-left: 12px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
  }
}
