/* Стили для стилизации компонента content - где отрисовывается вся информация */

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__header {
    align-items: center;
    background-color: $cl-white;
    display: flex;
    margin-bottom: 26px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__films {
    flex-grow: 1;
    position: relative;
  }

  &__films-loading {
    height: 120px;
    position: relative;
  }
}
