/* Стили для стилизации компонента content - где отрисовывается вся информация */

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $cl-white;
    z-index: 10;
    margin-bottom: 26px;
  }

  &__search {
    margin-left: auto;
  }

  &__films {
    flex-grow: 1;
    position: relative;
  }
}
