/* ==[ ХЕДЕР ]== */

.header {
  background-color: $main-bg-color;
  box-shadow: 0 1px 2px $cl-white;

  // Заголовок с названием
  &__title {
    color: $cl-blue-3;
    grid-area: title;
    margin-right: 16px;
  }

  // Контент
  &__content {
    align-items: center;
    display: grid;
    grid-template-areas: 'title search empty menu';
    grid-template-columns: 180px minmax(100px, 350px) auto;
    grid-template-rows: 1fr;
    padding-bottom: 7px;
    padding-top: 7px;

    @include adaptive(sm) {
      grid-template-areas:
        'title menu'
        'search search';
      grid-template-columns: 180px auto;
      grid-template-rows: 1fr 1fr;
    }
  }

  // Ссылка на источник
  &__source-link {
    font-size: 14px;
    margin: 0;
  }

  // Имя пользователя
  &__user-name {
    cursor: pointer;
    display: inline-block;
  }

  // Dropdown у поиска
  &__search-dropdown-item {
    display: flex;
    height: 60px;
    padding: 10px 16px;

    &:hover {
      background-color: $cl-grey-3;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $cl-grey-3;
    }
  }

  &__search {
    grid-area: search;
    margin-right: auto;
  }

  &__search-dropdown {
    z-index: 1000;
  }

  &__search-dropdown-image {
    height: 100%;
  }

  &__search-dropdown-title {
    align-self: center;
    font-size: 14px;
    margin-left: 16px;
  }
}

.header__user-menu {
  color: $cl-blue-3;
  grid-area: menu;
  justify-self: end;
  position: relative;

  &:hover {
    .header__dropdown {
      display: block;
    }
  }
}

.header__dropdown {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 220px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 15;

  .menu__item {
    &:hover {
      opacity: 0.7;
    }
  }
}
