/* Хедер страниц */

.header {
  background-color: $main-bg-color;
  box-shadow: 0 1px 2px $cl-white;

  // Заголовок с названием
  &__title {
    color: $cl-blue-3;
    margin-right: auto;
  }

  // Контент
  &__content {
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;

    // тест
    //display: grid;
    //grid-template-columns: 250px minmax(100px, 350px) 250px;
  }

  // Хедер пользователя
  &__user-menu {
    color: $main-color;
    position: relative;
  }

  // Ссылка на источник
  &__source-link {
    margin: 0;
    font-size: 14px;
  }

  // Имя пользователя
  &__user-name {
    cursor: pointer;
    display: inline-block;

    &:hover {
      .header__dropdown {
        display: block;
      }
    }
  }

  // Dropdown у поиска
  &__search-dropdown-item {
    display: flex;
    height: 60px;
    padding: 10px 16px;

    &:hover {
      background-color: $cl-grey-3;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $cl-grey-3;
    }
  }

  &__search {
    margin-right: 16px;
  }

  &__search-dropdown {
    z-index: 1000;
  }

  &__search-dropdown-image {
    height: 100%;
  }

  &__search-dropdown-title {
    margin-left: 16px;
    font-size: 14px;
    align-self: center;
  }

  // Dropdown меню
  &__dropdown {
    min-width: 220px;
    position: absolute;
    right: 0;
    display: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 15;
    top: 100%;

    //&::after,
    //&::before {
    //  border: solid transparent;
    //  content: "";
    //  position: absolute;
    //  top: -22px;
    //  right: -1px;
    //}
    //
    //&::after {
    //  border-color: rgba(213, 213, 213, 0);
    //  border-bottom-color: $cl-white;
    //  border-width: 11px;
    //  margin-left: -10px;
    //}
    //
    //&::before {
    //  border-color: rgba(245, 0, 0, 0);
    //  border-bottom-color: red;
    //  border-width: 11px;
    //  margin-left: -11px;
    //}

    .menu__item {
      &:hover {
        opacity: .7;
      }
    }
  }
}
