/* ==[ ГЛАВНАЯ СТРАНИЦА ]== */

.main {
  display: flex;
  padding-top: 28px;
  position: relative;

  &__aside-menu {
    margin-right: 16px;

    @include adaptive(sm) {
      display: none;
    }
  }
}
