/* ==[ СТРАНИЦА С АКТЕРАМИ ]== */

.credits {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  position: relative;

  @include adaptive(xsm) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 170px));
    justify-content: center;
  }

  &__back-button {
    position: absolute;
    right: -75px;
  }
}

.cast {
  @include box-shadow-hover-card;

  display: flex;
  flex-direction: column;
  height: 100%;

  &__image {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 8px 16px;
  }

  &__name {
    margin-bottom: 0;
    margin-top: auto;
  }
}
