/* ==[ ДЕТАЛЬНАЯ ИНФОРМАЦИЯ ОБ АКТЕРЕ ]== */

.actor {
  @include details-view-classes;
}

.actor__info {
  &--row {
    display: flex;

    .actor__info-header {
      margin-bottom: 0;
      margin-right: 12px;
    }
  }
}
