/* Страница с детальной информации об актере */

.actor {
  @include details-view-classes;

  &__info {
    &--row {
      display: flex;

      .actor__info-header {
        margin-bottom: 0;
        margin-right: 12px;
      }
    }
  }
}
