/* ==[ ДЕТАЛЬНАЯ ИНФОРМАЦИЯ О ФИЛЬМЕ ]== */

.film-details {
  @include details-view-classes;

  &__trailer {
    cursor: pointer;
    margin-left: auto;
  }

  &__trailer-icon {
    display: block;
    font-size: 32px;
  }

  &__image {
    border: 1px solid $cl-white;
    display: block;
    width: 100%;
  }

  &__overview {
    color: $cl-white;
    line-height: 1.5;
    margin-bottom: 0;
  }

  &__section {
    + .film-details__section {
      margin-top: 16px;
    }

    &-header {
      align-items: center;
      display: flex;
      margin-bottom: 12px;
    }

    &-title {
      margin-right: auto;
    }
  }

  &__wrapper {
    background-position: center top;
    background-size: cover;
  }

  &__icon {
    color: $cl-white;
    font-size: 16px;
  }

  &__iframe-wrapper {
    height: 400px;
    width: 650px;
  }

  &__iframe-trailer {
    height: 100%;
    width: 100%;
  }

  &__genre-list {
    display: flex;
  }

  &__genre {
    background-color: $cl-blue-2;
    color: $cl-white;
    cursor: pointer;
    padding: 8px;
    transition: $transition-time;

    &:hover {
      background-color: rgba($cl-blue-2, 0.9);
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__header-wrapper {
    align-items: center;
    display: flex;
    position: relative;
  }
}

.film-details__icon-container {
  align-items: center;
  background-color: hsla(0, 0%, 89.8%, 0.4);
  border: 1px solid $cl-white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: 0;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  left: 15px;
  position: absolute;
  top: 0;
  transition: background-color $transition-time;
  width: 30px;

  &:hover {
    background-color: $cl-white;

    .film-details__icon {
      color: $cl-red-1;
    }
  }
}


.film-details__icon-container--favorite {
  background-color: $cl-white;

  .film-details__icon {
    color: $cl-red-1;
  }

  &:hover {
    background-color: hsla(0, 0%, 89.8%, 0.4);

    .film-details__icon {
      color: $cl-white;
    }
  }
}
