/* Подробная информация о фильме */

.film-details {
  @include details-view-classes;

  &__trailer {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__trailer-icon {
    font-size: 32px;
    display: block;
  }

  &__image {
    border: 1px solid $cl-white;
    display: block;
    width: 100%;
  }

  &__sub-header {
    display: flex;
    font-size: 12px;
  }

  &__overview {
    color: $cl-white;
    line-height: 1.5;
    margin-bottom: 0;
  }

  &__section {
    + .film-details__section {
      margin-top: 16px;
    }

    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }

    &-title {
      margin-right: auto;
    }
  }

  &__sub-header-item {
    &:not(:first-child) {
      list-style: disc;
    }
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__wrapper {
    background-size: cover;
    background-position: center top;
  }

  &__icon {
    font-size: 16px;
    color: $cl-white;
  }

  &__iframe-wrapper {
    width: 650px;
    height: 400px;
  }

  &__iframe-trailer {
    width: 100%;
    height: 100%;
  }

  &__genre-list {
    display: flex;
  }

  &__genre {
    background-color: $cl-blue-2;
    color: $cl-white;
    padding: 8px;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background-color: rgba($cl-blue-2, .9);
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__icon-container {
    position: absolute;
    cursor: pointer;
    top: 0;
    border: 1px solid $cl-white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 15px;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: hsla(0,0%,89.8%,.4);
    transition: background-color .5s;

    &:hover {
      background-color: $cl-white;

      .film-details__icon {
        color: $cl-red-1;
      }
    }

    &--favorite {
      background-color: $cl-white;

      .film-details__icon {
        color: $cl-red-1;
      }

      &:hover {
        background-color: hsla(0,0%,89.8%,.4);

        .film-details__icon {
          color: $cl-white;
        }
      }
    }
  }
}
