/* Общие стили проекта */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: $content-background;
  font-family: $main-font;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


// Контент
.content-wrapper {
  @include max-center-content;
  padding: 16px;
}

// сообщение с ошибкой
.error {
  background-color: $error-background-color;
  color: $cl-white;
  padding: 12px;
}

// Боковое меню
.aside-bar {
  background-color: $cl-white;
  box-shadow: 0 2px 14px rgba($cl-black, 0.6);
  height: 100%;
  left: -250px;
  min-width: 220px;
  overflow-y: scroll;
  padding: 16px 16px 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: left $transition-time;
  z-index: 10;

  &::-webkit-scrollbar {
    display: none;
  }

  //&--open {
  //  left: 0;
  //  pointer-events: auto;
  //
  //  .header__dropdown {
  //    left: 0;
  //  }
  //}

  &__menu {
    margin-top: 16px;
  }
}

.aside-bar--open {
  left: 0;
  pointer-events: auto;

  .header__dropdown {
    left: 0;
  }
}

// Атомарные классы

.ta-c {
  text-align: center;
}
