/* Общие стили проекта */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: $content-background;
    font-family: $main-font;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
    color: inherit;
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


// Контент
.content-wrapper {
  @include max-center-content;
  padding: 16px;
}

// сообщение с ошибкой
.error {
  background-color: $error-background-color;
  padding: 12px;
  color: $cl-white;
}

// Боковое меню
.aside-bar {
  position: fixed;
  z-index: 10;
  left: -250px;
  top: 0;
  background-color: $cl-white;
  padding: 16px 16px 0;
  transition: left $transition-time;
  pointer-events: none;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 0 2px 14px rgba($cl-black, .6);
  min-width: 220px;

  &::-webkit-scrollbar {
    display: none;
  }

  &--open {
    left: 0;
    pointer-events: auto;

    .header__dropdown {
      left: 0;
    }
  }

  &__menu {
    margin-top: 16px;
  }
}

// Атомарные классы

.ta-c {
  text-align: center;
}
