/* ==[ ТАГИ ]== */

$tag-margin-top: 12px;

.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  margin-top: -$tag-margin-top;

  &__item {
    color: $cl-blue-4;
    cursor: pointer;
    margin-top: $tag-margin-top;
    padding-bottom: 4px;
    padding-top: 4px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
