// Тэги

$tag-margin-top: 12px;

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: -$tag-margin-top;

  &__item {
    border: 1px solid $cl-white;
    border-radius: 4px;
    color: $cl-white;
    cursor: pointer;
    font-size: 12px;
    margin-top: $tag-margin-top;
    padding: 2px 6px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
