/* ==[ КАРТОЧКА С ИНФОРМАЦИЕЙ О ФИЛЬМЕ ]== */

.film-card {
  @include box-shadow-hover-card;
  height: 100%;

  position: relative;

  &--small {
    min-height: 290px;

    .film-card__poster {
      height: 140px;
    }
  }

  &__wrapper {
    padding: 12px;
  }

  &__poster {
    display: flex;

    &--no-image {
      height: 210px;
    }
  }

  &__information {
    font-size: 12px;
  }

  &__image {
    object-fit: contain;
  }

  &__rating {
    align-items: center;
    border-radius: 50%;
    color: $cl-white;
    display: flex;
    justify-content: center;
    min-height: 34px;
    min-width: 34px;

    padding: 0 6px;
    position: absolute;
    right: -7px;
    top: -7px;

    // хак, чтобы всегда был круг, если значение будет большое
    &::before {
      content: '';
      float: left;
      padding-bottom: 100%;
      width: auto;
    }

    &--medium {
      background-color: $cl-orange-3;
    }

    &--low {
      background-color: $cl-red-1;
    }

    &--high {
      background-color: $cl-green;
    }
  }
}
