/* Список жанров */

.genre-list {
  max-width: 170px;
  margin-right: 16px;
  align-self: baseline;
  position: sticky;
  top: 0;


  .menu__item {
    &:hover:not(.menu__item--active) {
      border-left-color: rgba($cl-orange-3, .5);
    }
  }
}
